<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <!-- Servlets -->
  <servlet>
    <servlet-name>GameServlet</servlet-name>
    <servlet-class>com.citrix.conformative.server.GameService</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>GameServlet</servlet-name>
    <url-pattern>/conformativegame/request</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ChannelConnected</servlet-name>
    <servlet-class>com.citrix.conformative.server.ChannelConnectedServlet</servlet-class>     
  </servlet>

  <servlet-mapping>
    <servlet-name>ChannelDisconnected</servlet-name>
    <url-pattern>/_ah/channel/disconnected/</url-pattern>
  </servlet-mapping> 
		   
  <servlet>
    <servlet-name>ChannelDisconnected</servlet-name>
    <servlet-class>com.citrix.conformative.server.ChannelDisconnectedServlet</servlet-class>     
  </servlet>

  <servlet-mapping>
    <servlet-name>ChannelConnected</servlet-name>
    <url-pattern>/_ah/channel/connected/</url-pattern>
  </servlet-mapping> 
		   
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>ConformativeGame.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

</web-app>